accelerate
beautifulsoup4
bitsandbytes
chromadb
datasets
deepspeed
evaluate
fastapi
gradio
graphviz
huggingface_hub
jieba
langchain
langchain_milvus
pymilvus
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
langserve
matplotlib
modelscope
numpy
openai
pandas
peft
psutil
pydantic
pynvml
PyYAML
PyYAML
regex
Requests
safetensors
scikit_learn
scipy
setuptools
sounddevice
streamlit
swanlab
torch
tqdm
transformers
trl
uvicorn
whisper
zhipuai
